<div class="border border-black/10 dark:border-white/10 p-5 rounded-md">
    <div class="mb-4">
        <p class="text-sm font-semibold">Autoplay</p>
    </div>
    <div class="swiper mySwiper3 max-w-3xl mx-auto mb-5 swiper-initialized swiper-horizontal swiper-backface-hidden">
        <div class="swiper-wrapper" id="swiper-wrapper-ff4b2aa71b7f8abb" aria-live="off">
            {{#each carouselItems}}
                <div class="swiper-slide {{#if active}}swiper-slide-active{{/if}} {{#if next}}swiper-slide-next{{/if}}" role="group" aria-label="{{@index}} / {{total}}" style="width: 703px;">
                    <img src="../images/{{image}}" class="w-full max-h-80 object-cover" alt="">
                    <div class="absolute z-[999] text-white top-1/4 left-12">
                        <div class="sm:text-3xl text-base font-semibold">{{title}}</div>
                        <div class="sm:mt-5 mt-1 w-4/5 text-base sm:block hidden font-medium">
                            {{description}}
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
        <a href="javascript:;" class="swiper-button-prev-3 grid place-content-center left-2 p-1 transition text-white hover:text-black border border-white hover:border-white hover:bg-white rounded-full absolute z-[999] top-[44%] -translate-y-1/2 {{#if prevButtonDisabled}}swiper-button-disabled{{/if}}" tabindex="-1" role="button" aria-label="Previous slide" aria-controls="swiper-wrapper-ff4b2aa71b7f8abb" aria-disabled="{{prevButtonDisabled}}">
            <svg class="w-5 h-5" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M20.7067 6.70748L20.7071 6.70711C20.8946 6.51957 21 6.26522 21 6C21 5.73478 20.8946 5.48043 20.7071 5.29289L20.7065 5.29232L20.6985 5.28436L20.6979 5.2838C20.5112 5.10184 20.2607 5 20 5C19.7348 5 19.4804 5.10536 19.2929 5.29289L19.2925 5.29327L9.29289 15.2929C9.10536 15.4804 9 15.7348 9 16C9 16.2652 9.10536 16.5196 9.29289 16.7071L19.2929 26.7071C19.4804 26.8946 19.7348 27 20 27C20.2652 27 20.5196 26.8946 20.7071 26.7071C20.8946 26.5196 21 26.2652 21 26C21 25.7348 20.8946 25.4804 20.7071 25.2929L11.4142 16L20.7067 6.70748Z" fill="currentColor"></path>
            </svg>
        </a>
        <a href="javascript:;" class="swiper-button-next-3 grid place-content-center right-2 p-1 transition text-white hover:text-black border border-white hover:border-white hover:bg-white rounded-full absolute z-[999] top-[44%] -translate-y-1/2" tabindex="0" role="button" aria-label="Next slide" aria-controls="swiper-wrapper-ff4b2aa71b7f8abb" aria-disabled="false">
            <svg class="w-5 h-5" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M20.5858 16L11.2929 25.2929C11.1054 25.4804 11 25.7348 11 26C11 26.2652 11.1054 26.5196 11.2929 26.7071C11.4804 26.8946 11.7348 27 12 27C12.2652 27 12.5196 26.8946 12.7071 26.7071L22.7071 16.7071C23.0976 16.3166 23.0976 15.6834 22.7071 15.2929L12.7071 5.29289C12.5196 5.10536 12.2652 5 12 5C11.7348 5 11.4804 5.10536 11.2929 5.29289C11.1054 5.48043 11 5.73478 11 6C11 6.26522 11.1054 6.51957 11.2929 6.70711L20.5858 16Z" fill="currentColor"></path>
            </svg>
        </a>
        <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
    </div>
</div>