 /* fonts */
@font-face {
  font-display: swap;
  font-family: GilroyRegular;
  font-style: normal;
  font-weight: 400;
  src: url(gilroy\Gilroy-Regular.ttf)
      format("truetype");
}

@font-face {
  font-display: swap;
  font-family: GilroySemiBold;
  font-style: normal;
  font-weight: 400;
  src: url(gilroy\Gilroy-SemiBold.ttf)
      format("truetype");
}

@font-face {
  font-display: swap;
  font-family: GilroyBold;
  font-style: normal;
  font-weight: 400;
  src: url(gilroy\Gilroy-Bold.ttf)
      format("truetype");
}

 /* standard colors */
:root {
  --acapulco: #81b5a1;
  --apricot: #fbd0b3;
  --aquamarine: #64ddac;
  --bittersweet: #fc726d;
  --buttermilk: #fbf2b4;
  --cavern-pink: #e9bcbc;
  --cloud: #f7f7f7;
  --cruise: #b0e1ce;
  --flax: #e5d87c;
  --fountain-blue: #68a1af;
  --french-pass: #a7d4df;
  --gable-green: #293e40;
  --gable-green-70: #697779;
  --lavender: #9898e5;
  --mako: #474d52;
  --ocean-spray: #72d0e2;
  --orchid: #db8f8f;
  --oslo-grey: #8a8e91;
  --perano: #b1b1e4;
  --powder-blue: #b8d9e2;
  --powder-dark-gray: #c8c8c8;
  --powder-green: #b9d0cc;
  --powder-light-gray: #e1e1e1;
  --powder-pink: #f8d1d4;
  --powder-yellow: #f2e5be;
  --pure-black: #000;
  --pure-white: #fff;
  --silver-sand: #c0c2c4;
  --tan-hide: #ff924e;
  --tumbleweed: #e8a679;
  --wattle: #d6df38;
  --wild-blue-yonder: #8686bc;
}

.NavMain .body-xlarge {
    font: 1.125rem/1.5 GilroyRegular
}

.NavMain .body-large {
    font: 1.125rem/1.7 GilroyRegular
}

.NavMain .body-medium {
    font: 1rem/1.7 GilroyRegular
}

.NavMain .body-small,
.NavMain .footnote {
    font: .875rem/1.5 GilroyRegular
}

.NavMain .label {
    font: .625rem/1 GilroyBold;
    text-transform: uppercase
}

.NavMain .eyebrow {
    font: 1rem/1 GilroySemiBold
}


.NavMain .h1-regular {
    font: 1.75rem/1.3 GilroyRegular
}

.NavMain .h1-semibold {
    font: 1.75rem/1.3 GilroySemiBold
}

.NavMain .h1-bold {
    font: 1.75rem/1.3 GilroyBold
}

.NavMain .h2-regular {
    font: 1.375rem/1.3 GilroyRegular
}

.NavMain .h2-semibold {
    font: 1.375rem/1.3 GilroySemiBold
}

.NavMain .h2-bold {
    font: 1.375rem/1.3 GilroyBold
}

.NavMain .h3-regular {
    font: 1.25rem/1.3 GilroyRegular
}

.NavMain .h3-semibold {
    font: 1.25rem/1.3 GilroySemiBold
}

.NavMain .h3-bold {
    font: 1.25rem/1.3 GilroyBold
}

.NavMain .h4-regular {
    font: 1.125rem/1.3 GilroyRegular
}

.NavMain .h4-semibold {
    font: 1.125rem/1.3 GilroySemiBold
}

.NavMain .h4-bold {
    font: 1.125rem/1.3 GilroyBold
}

.NavMain .h5-regular {
    font: 1rem/1.3 GilroyRegular
}

.NavMain .h5-semibold {
    font: 1rem/1.3 GilroySemiBold
}

.NavMain .h5-bold {
    font: 1rem/1.3 GilroyBold
}

@media only screen and (min-width:320px) {
    .NavMain .h1-regular {
        font: 1.75rem/1.3 GilroyRegular
    }

    .NavMain .h1-semibold {
        font: 1.75rem/1.3 GilroySemiBold
    }

    .NavMain .h1-bold {
        font: 1.75rem/1.3 GilroyBold
    }

    .NavMain .h2-regular {
        font: 1.375rem/1.3 GilroyRegular
    }

    .NavMain .h2-semibold {
        font: 1.375rem/1.3 GilroySemiBold
    }

    .NavMain .h2-bold {
        font: 1.375rem/1.3 GilroyBold
    }

    .NavMain .h3-regular {
        font: 1.25rem/1.3 GilroyRegular
    }

    .NavMain .h3-semibold {
        font: 1.25rem/1.3 GilroySemiBold
    }

    .NavMain .h3-bold {
        font: 1.25rem/1.3 GilroyBold
    }

    .NavMain .h4-regular {
        font: 1.125rem/1.3 GilroyRegular
    }

    .NavMain .h4-semibold {
        font: 1.125rem/1.3 GilroySemiBold
    }

    .NavMain .h4-bold {
        font: 1.125rem/1.3 GilroyBold
    }

    .NavMain .h5-regular {
        font: 1rem/1.3 GilroyRegular
    }

    .NavMain .h5-semibold {
        font: 1rem/1.3 GilroySemiBold
    }

    .NavMain .h5-bold {
        font: 1rem/1.3 GilroyBold
    }

    .NavMain .body-xlarge {
        font: 1.125rem/1.5 GilroyRegular
    }

    .NavMain .body-large {
        font: 1.125rem/1.7 GilroyRegular
    }

    .NavMain .body-medium {
        font: 1rem/1.7 GilroyRegular
    }

    .NavMain .body-small {
        font: .875rem/1.5 GilroyRegular
    }

    .NavMain .label {
        font: .625rem/1 GilroyBold
    }

    .NavMain .eyebrow {
        font: 1rem/1 GilroySemiBold
    }
}

@media only screen and (min-width:768px) {
    .NavMain .h1-regular {
        font: 2.25rem/1.3 GilroyRegular
    }

    .NavMain .h1-semibold {
        font: 2.25rem/1.3 GilroySemiBold
    }

    .NavMain .h1-bold {
        font: 2.25rem/1.3 GilroyBold
    }

    .NavMain .h2-regular {
        font: 1.75rem/1.3 GilroyRegular
    }

    .NavMain .h2-semibold {
        font: 1.75rem/1.3 GilroySemiBold
    }

    .NavMain .h2-bold {
        font: 1.75rem/1.3 GilroyBold
    }

    .NavMain .h3-regular {
        font: 1.5rem/1.3 GilroyRegular
    }

    .NavMain .h3-semibold {
        font: 1.5rem/1.3 GilroySemiBold
    }

    .NavMain .h3-bold {
        font: 1.5rem/1.3 GilroyBold
    }

    .NavMain .h4-regular {
        font: 1.375rem/1.3 GilroyRegular
    }

    .NavMain .h4-semibold {
        font: 1.375rem/1.3 GilroySemiBold
    }

    .NavMain .h4-bold {
        font: 1.375rem/1.3 GilroyBold
    }

    .NavMain .h5-regular {
        font: 1.25rem/1.3 GilroyRegular
    }

    .NavMain .h5-semibold {
        font: 1.25rem/1.3 GilroySemiBold
    }

    .NavMain .h5-bold {
        font: 1.25rem/1.3 GilroyBold
    }

    .NavMain .body-xlarge {
        font: 1.125rem/1.5 GilroyRegular
    }

    .NavMain .body-large {
        font: 1.25rem/1.7 GilroyRegular
    }

    .NavMain .body-medium {
        font: 1.125rem/1.7 GilroyRegular
    }

    .NavMain .body-small {
        font: 1rem/1.5 GilroyRegular
    }

    .NavMain .label {
        font: .625rem/1 GilroyBold
    }

    .NavMain .eyebrow {
        font: 1.125rem/1 GilroySemiBold
    }
}

@media only screen and (min-width:1024px) {
    .NavMain .h1-regular {
        font: 3rem/1.3 GilroyRegular
    }

    .NavMain .h1-semibold {
        font: 3rem/1.3 GilroySemiBold
    }

    .NavMain .h1-bold {
        font: 3rem/1.3 GilroyBold
    }

    .NavMain .h2-regular {
        font: 2.25rem/1.3 GilroyRegular
    }

    .NavMain .h2-semibold {
        font: 2.25rem/1.3 GilroySemiBold
    }

    .NavMain .h2-bold {
        font: 2.25rem/1.3 GilroyBold
    }

    .NavMain .h3-regular {
        font: 1.75rem/1.3 GilroyRegular
    }

    .NavMain .h3-semibold {
        font: 1.75rem/1.3 GilroySemiBold
    }

    .NavMain .h3-bold {
        font: 1.75rem/1.3 GilroyBold
    }

    .NavMain .h4-regular {
        font: 1.5rem/1.3 GilroyRegular
    }

    .NavMain .h4-semibold {
        font: 1.5rem/1.3 GilroySemiBold
    }

    .NavMain .h4-bold {
        font: 1.5rem/1.3 GilroyBold
    }

    .NavMain .h5-regular {
        font: 1.375rem/1.3 GilroyRegular
    }

    .NavMain .h5-semibold {
        font: 1.375rem/1.3 GilroySemiBold
    }

    .NavMain .h5-bold {
        font: 1.375rem/1.3 GilroyBold
    }

    .NavMain .body-xlarge {
        font: 1.5rem/1.5 GilroyRegular
    }

    .NavMain .body-large {
        font: 1.25rem/1.7 GilroyRegular
    }

    .NavMain .body-medium {
        font: 1.125rem/1.7 GilroyRegular
    }

    .NavMain .body-small {
        font: 1rem/1.5 GilroyRegular
    }

    .NavMain .label {
        font: .75rem/1 GilroyBold
    }

    .NavMain .eyebrow {
        font: 1.125rem/1 GilroySemiBold
    }
}

@media only screen and (min-width:1920px) {
    .NavMain .h1-regular {
        font: 4rem/1.3 GilroyRegular
    }

    .NavMain .h1-semibold {
        font: 4rem/1.3 GilroySemiBold
    }

    .NavMain .h1-bold {
        font: 4rem/1.3 GilroyBold
    }

    .NavMain .h2-regular {
        font: 3rem/1.3 GilroyRegular
    }

    .NavMain .h2-semibold {
        font: 3rem/1.3 GilroySemiBold
    }

    .NavMain .h2-bold {
        font: 3rem/1.3 GilroyBold
    }

    .NavMain .h3-regular {
        font: 2.25rem/1.3 GilroyRegular
    }

    .NavMain .h3-semibold {
        font: 2.25rem/1.3 GilroySemiBold
    }

    .NavMain .h3-bold {
        font: 2.25rem/1.3 GilroyBold
    }

    .NavMain .h4-regular {
        font: 1.75rem/1.3 GilroyRegular
    }

    .NavMain .h4-semibold {
        font: 1.75rem/1.3 GilroySemiBold
    }

    .NavMain .h4-bold {
        font: 1.75rem/1.3 GilroyBold
    }

    .NavMain .h5-regular {
        font: 1.5rem/1.3 GilroyRegular
    }

    .NavMain .h5-semibold {
        font: 1.5rem/1.3 GilroySemiBold
    }

    .NavMain .h5-bold {
        font: 1.5rem/1.3 GilroyBold
    }

    .NavMain .body-xlarge {
        font: 1.75rem/1.5 GilroyRegular
    }

    .NavMain .body-large {
        font: 1.375rem/1.7 GilroyRegular
    }

    .NavMain .body-medium {
        font: 1.25rem/1.7 GilroyRegular
    }

    .NavMain .body-small {
        font: 1.125rem/1.5 GilroyRegular
    }

    .NavMain .label {
        font: .75rem/1 GilroyBold
    }

    .NavMain .eyebrow {
        font: 1.25rem/1 GilroySemiBold
    }
}

.NavMain a,
.NavMain h1,
.NavMain h2,
.NavMain h3,
.NavMain h4,
.NavMain h5,
.NavMain h6,
.NavMain p,
.NavMain span {
    color: var(--gable-green)
}

.NavMain .text-gable-green {
    color: #293e40
}

.NavMain .text-pure-white {
    color: #fff
}

.NavMain .text-pure-black {
    color: #000
}

.NavMain .background-gable-green {
    background-color: #293e40
}

.NavMain .background-acapulco {
    background-color: #81b5a1
}

.NavMain .background-pure-white {
    background-color: #fff
}

.NavMain .background-fountain-blue {
    background-color: var(--fountain-blue)
}

.NavMain .background-wild-blue-yonder {
    background-color: var(--wild-blue-yonder)
}

.NavMain .background-orchid {
    background-color: var(--orchid)
}

.NavMain .background-tumbleweed {
    background-color: var(--tumbleweed)
}

.NavMain .background-flax {
    background-color: var(--flax)
}

.NavMain .background-cruise {
    background-color: var(--cruise)
}

.NavMain .background-french-pass {
    background-color: var(--french-pass)
}

.NavMain .background-perano {
    background-color: var(--perano)
}

.NavMain .background-cavern-pink {
    background-color: var(--cavern-pink)
}

.NavMain .background-apricot {
    background-color: var(--apricot)
}

.NavMain .background-buttermilk {
    background-color: var(--buttermilk)
}

.NavMain .background-aquamarine {
    background-color: var(--aquamarine)
}

.NavMain .background-ocean-spray {
    background-color: var(--ocean-spray)
}

.NavMain .background-lavender {
    background-color: var(--lavender)
}

.NavMain .background-bittersweet {
    background-color: var(--bittersweet)
}

.NavMain .background-tan-hide {
    background-color: var(--tan-hide)
}

.NavMain .background-wattle {
    background-color: var(--wattle)
}

.NavMain .background-cloud {
    background-color: #f7f7f7
}

.NavMain .background-silver-sand {
    background-color: var(--silver-sand)
}

.NavMain .background-oslo-grey {
    background-color: var(--oslo-grey)
}

.NavMain .background-mako {
    background-color: var(--mako)
}

.NavMain .background-pure-black {
    background-color: #000
}

.NavMain .background-powder-blue {
    background-color: var(--powder-blue)
}

.NavMain .background-powder-pink {
    background-color: var(--powder-pink)
}

.NavMain .background-powder-green {
    background-color: var(--powder-green)
}

.NavMain .background-powder-yellow {
    background-color: var(--powder-yellow)
}

.NavMain .background-powder-dark-gray {
    background-color: var(--powder-dark-gray)
}

.NavMain .background-powder-light-gray {
    background-color: #e1e1e1
}
.NavMain .bg-cloud {
    background-color: #f7f7f7
}

.NavMain .bg-pure-white {
    background-color: #fff
}

.NavMain html {
    font-size: 1.6rem;
    overflow-x: hidden;
    width: 100%
}

.NavMain body {
    color: #293e40;
    overflow-x: hidden;
    width: 100%
}

.NavMain body.anti {
    -webkit-font-smoothing: antialiased
}

.NavMain a,
.NavMain p {
    font-size: inherit
}

.NavMain a,
.NavMain a a:hover,
.NavMain p,
.NavMain p a:hover {
    color: #293e40;
    font-family: inherit;
    font-weight: inherit
}

.NavMain .container-fluid {
    max-width: unset
}

@media(min-width:1715px) {
    .NavMain .container-fluid {
        padding: 0
    }
}
