/*
https://codepen.io/oliviale/full/mgWjpq
https://codepen.io/internette/pen/qogvJv
*/

/*

*/


:root{
        /* Colors */

      /*  dark and light */
    --dark:#343a40ff;
    --light:#f4f4ffff;
    --black: #0d0d0dff;
    --white:#ffffff;
    --grey:#909090ff;

    /* theme colors*/
    --color-primary: #007affff;
    --color-secondary-success:#27a844ff;
    --color-danger:#dc3546ff;
    --color-warning:#fec107ff;
    --color-info:#17a2b7ff;

    /*  Spacing :  Primarly used for margin and spacing.  */
    --sp-extra-tight: 4px;
    --sp-tight:8px;
    --sp-mid:12px;
    --sp-normal:16px;
    --sp-loose: 20px;
    --sp-extra-loose: 32px;


    /*
    sizes

    */
    --smallest: 13px;
    --small:16px;
    --normal: 21px;
    --large:34px;
    --largest:55px;
    --gigantic: 89px;
/*
    @import url('https://fonts.googleapis.com/css2?family=Over+the+Rainbow&family=Poiret+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*/
    /*
    sizes
    Primarly used for text. 
    */
    --text-smallest: 13px;
    --text-small:16px;
    --text-normal: 21px;
    --text-large:34px;
    --text-largest:55px;
    --text-gigantic: 89px;

    --font-primary : 'Poiret One', cursive;
    --font-secondary : 'Hind', sans-serif;
    --font-highlight : 'Over The Rainbow', cursive;
    --f-size-base: 16px;
    --f-line-height-heading: 1.5;
    --f-line-height-body: 1.5;
    

        
    
    /*
    pari.theme.breakpoints	
        */
    --desktop-width: 1280px;
    --sm-desktop-width: 980px;
    --tab-width: 768px;
    --phone-width:480px;
    --sm-phone-width: 320px;

 
}

/*
animation
*/





    /*     Pari States
    default
hovered
focused
pressed
disabled
*/



/*
work to be done
borders
dropShadows
responsive ness

containers
size units
css componenets



*/
