<!-- Start Content -->
<div class="min-h-[calc(100vh-134px)] py-4 px-4 sm:px-12 flex justify-center items-center">
    <div class="max-w-[680px] flex-none w-full bg-white dark:bg-white/5 p-4 sm:p-10 lg:px-[146px] lg:py-48 rounded-2xl loginform">
        <h1 class="text-2xl font-semibold mb-2 text-center">{{pageTitle}}</h1>
        <p class="text-center text-black/40 dark:text-white/40 mb-7">{{pageDescription}}</p>
        <form class="">
            <div class="mb-7">
                <input type="text" value="" placeholder="Email" class="form-input">
            </div>
            <button type="button" class="mb-4 py-2 px-4 bg-black dark:bg-lightpurple-200 w-full rounded-lg text-white dark:text-black text-lg font-semibold border border-black dark:border-lightpurple-200 hover:bg-transparent dark:hover:bg-transparent hover:text-black dark:hover:text-white transition-all duration-300">
                Submit
            </button>
            <div class="text-center">
                <a class="text-xs text-lightpurple-300 inline-block" href="/">Back</a>
            </div>
        </form>
    </div>
</div>
<!-- End Content -->