<!-- Template -->
<div class="border border-black/10 dark:border-white/10 p-5 rounded-md">
    <div class="mb-5">
        <p class="text-sm font-semibold">{{ title }}</p>
    </div>
    <div class="flex flex-wrap justify-center gap-3">
        {{#each buttons}}
            <div x-data="{ dropdown: false}" class="dropdown">
                <button class="btn flex {{ buttonClass }} items-center border justify-center {{ buttonBg }} {{ buttonBorder }} hover:bg-transparent dark:hover:bg-transparent hover:text-black dark:hover:text-white" @click="dropdown = !dropdown" @keydown.escape="dropdown = false">{{ buttonText }}
                    <svg class="w-4 h-4 ml-1" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="{{ svgPath }}" fill="currentColor"></path>
                    </svg>
                </button>
                <ul x-show="dropdown" @click.away="dropdown = false" x-transition="" x-transition.duration.300ms="" class="right-0 whitespace-nowrap" style="display: none;">
                    {{#each dropdownItems}}
                        <li><a href="javascript:;">{{ this }}</a></li>
                    {{/each}}
                </ul>
            </div>
        {{/each}}
    </div>
</div>