<ul class="flex flex-wrap items-center space-x-2 py-3">
    {{#each menuItems}}
    <li class="flex items-center space-x-2">
        <a class="text-black/40 dark:text-white/40 transition-colors hover:text-black dark:hover:text-white" href="{{url}}">{{label}}</a>
        <svg x-ignore="" xmlns="http://www.w3.org/2000/svg" class="h-3.5 w-3.5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
        </svg>
    </li>
    {{/each}}
    <li>{{breadcrumb}}</li>
</ul>