/* Alert Component */
.alert {
    padding: var(--spacing-md);
    border-radius: var(--border-radius);
    margin-bottom: var(--spacing-md);
    opacity: 1;
  transition: opacity 0.6s;
  }
  
  .alert-primary {
    color: var(--text-color);
    background-color: var(--primary-color);
  }
  
  .alert-secondary {
    color: var(--text-color);
    background-color: var(--secondary-color);
  }
  
  .alert-success {
    color: var(--text-color);
    background-color: #28a745; /* Custom success color */
  }
  
  .alert-info {
    color: var(--text-color);
    background-color: #17a2b8; /* Custom info color */
  }
  
  .alert-warning {
    color: var(--text-color);
    background-color: #ffc107; /* Custom warning color */
  }
  
  .alert-danger {
    color: var(--text-color);
    background-color: #dc3545; /* Custom danger color */
  }
  
  /* Usage */
  
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }

.closebtn:hover {
  color: black;
}   