/* 
 
body {
    line-height: 1.6;
    font-size: var(--f-size-base);
    font-style: thin;
    color: var(--light);
    font-family: 'Hind', sans-serif;
    width: 89vw;
  }

  body  {
    background-image: url("/assests/graphics/bg/pari wallpaper-bg-1920x1080 bg.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
  }
  

  header{
      display: flex;
      min-height: 5rem;
      align-items: stretch;
  }

  header img {
    max-height: 3rem;
    margin-top:1rem;
}
  section{
    position: relative;
    width: 100%;
    height:fit-content; 
    margin: 0 auto;

    padding-top:3rem;
    align-content: center;
    padding-left: 3rem;
    -webkit-overflow-scrolling: touch;
    margin-left:2rem;
   
  }
  main{

      width: 60%;
      height: 54%;
     
   
     margin-top: 8rem;
     position: relative;
     top:50%;
     left:50%;
     -ms-transform: translate(-50%, -50%);
     transform: translate(-50%, -50%);

  }

 
  h1 {
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-weight: 400;
    line-height: 1.3;
    font-family: 'Poiret One', cursive;
    font-size: var(--gigantic-text);
  }
  
  h2 {
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-weight: 400;
    line-height: 1.35;
    font-family: 'Over the Rainbow', cursive;
    
    font-size: var(--large-text);
  }
  
  h3 {
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-weight: 400;
    line-height: 1.4;
    font-family: 'Poiret One', cursive;
    font-size: var(--normal-text);
  }
  
  h4 {
    font-family: 'Hind', sans-serif;
    font-size: var(--large-text);
    font-style: bold;
    margin-top: 10rem;
    margin-bottom: 2rem;
    font-weight: 400;
    line-height: 1.45;
  }
  
  p,h5 {
    font-family: 'Hind', sans-serif;
    font-size: var(--small-text);
    font-weight: 400;
    color: var(--color-grey);
  }
  h6 {
    font-family: 'Hind', sans-serif;
    font-size: var(--smallest-text);
    margin-top: 1.8rem;
    margin-bottom: 1.5rem;
    font-weight: 400;
   
  }
  
strong {
    font-weight: bolder;
}
  a {
      margin: 0.35em 0 0.7em 0;
      color: var(--color-light);
      text-decoration: none;
      margin-left: 0.5rem;
  }
  a:not(:first-child) {
    margin-left: 1.5rem;
}

a:hover {
    color: rgba(0, 0, 0, 0.7);
    text-decoration: none;
}
  
  a:hover:not(.button) {
    opacity: 0.75;
  }
  nav menu {
    float: right;
  }

  nav menu a {
    float: left;
  }

  nav menu a:last-child {
    padding-right: 0px;
  }

  [data-toggle="toggle-menu"] menu {
    width: 0px;
    display: none;
  }

  [data-toggle="toggle-menu"] menu a {
    font-size: 18px;
    padding: 25px 20px;
    height: 3px;
    margin-bottom: 4px;
  }

  [data-toggle="toggle-menu"] menu a:last-child {
    margin-bottom: 0px;
  }

#toggle-1,
  [data-toggle="toggle-menu"]{
    display: none;
  }
  
button {
    height: 3.2rem;
    line-height: 3.2rem;
    padding: 0 1.5rem;
    text-align: center;
    white-space: nowrap;
    font-family: inherit;
    color: var(--color-darkGrey);
    background: var(--color-primary);
    border-radius: 4px;
    font-size: var(--normal-text);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    margin-top: 1rem;
  }
  button:hover{
    opacity: 0.75;
    background-color: var(--color-info);
  }

  img{
      max-height: 54%;

  }

  nav{
    justify-content: flex-start;
    width: 100%;
    height: 5rem;
  }
  
  
hr {
   
    height: 1px;
        overflow: visible;
    background-color:var(--grey);
    margin-left:1rem
}


td,
th {
  vertical-align: middle;
  padding: 1.2rem 0.4rem;
}

thead {
  border-bottom: 2px solid var(--color-lightGrey);
}

nav{
    display: flex;
    min-height: 5rem;
    align-items: stretch;
}

footer{
  
    position: absolute;
    width: 100%;
    height: 5rem;
    margin:0;
    background-color:var(--dark);
    background-image: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    height: 5rem;
    border-bottom: none;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
footer *{
    align-content: right;
}
[data-attribute='align-right']{
  text-align: right;
}
input {
  position: relative;

}
details{
  width: 80%;
  color: white;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background: #2c3e50;
  font-weight: bold;
  cursor: pointer;
  margin:2rem;
  list-style-type: style;
}
details:hover{
  background-color: var(--color-warning);
}
details ul,p,h2,li,h3,dd,dt,blockquote,table{
  background-color: #FFF;
  color:black;
  margin:1rem;
  padding:1rem;
}
details section{
  background-color: #FFF;
}

@media only screen and (max-width: 980px) {
  header {
    padding: 20px 10px;
  }

   #toggle-1{
    position: absolute;
    top: -9999px;
    left: -9999px;
    background: none;
  }

  #toggle-1:focus {
    background: none;
  }

  [data-toggle="toggle-menu"] {
    cursor: pointer;
    margin-top: 1rem;
    display: -ms-flexbox !important;
    display: flex !important;
    margin-left: auto;
  
  }

  #toggle-1:checked~nav {
    display: block;
  }

  nav {
    display: none;
    position: absolute;
    right: 0px;
    top: 75px;
    padding: 0px;
    z-index: 99;
  }

  nav menu a {
    float: none;
    padding: 0px;
    width: 100%;
    display: table;
    color: #FFF;
    font-size: 15px;
    padding: 10px 20px;
    display: block;

  }
  nav menu a:hover{
    background-color: var(--dark);
  }
  nav menu button{
    font-size: var(--small-text);
  }
  main{
    margin-top:5rem;
    width:100%;
    height:60%;
    left:50%;
  }
}
[data-attribute="card"] {
  justify-content: space-between;
  margin: 20px;
  padding: 20px;
  width: 500px;
  min-height: 200px;
  display: flex;
  border-radius: 10px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.2s;
  font-size: var(--large-text);
  color:black;
}
@media only screen and (max-width: 450px) {
  label {
    padding: 5px 0px;
  }

  nav {
    top: 47px;
  }
  main{
    margin-top:15rem;
    width:100%;
    height:100%;
    left:35%;
    padding:0;
  }
  section{
    width:100%;
    margin-left: 0;
  }
  li{
    font-size:var(--small-text);
    padding:5px;
    list-style-type: style;
  }
  summary{
    font-size:var(--small-text);
  }
  [data-attribute="card"]{
    margin-left:-2rem;
    width:100%;
    min-height: 50px;
    font-size: var(--smallest-text);
    padding-top:20px;
    margin-top:1.2rem;
    left:5%;
    margin-right: auto;
  }
  details{
    width: 100%;
    margin-right: 10px;
    margin-left:0.5rem;
  }
  h2,dd,dt,blockquote{
    font-size: var(--small-text);
    margin-top:0px;
  }
}

#card-1 {
  background:var(--color-primary);
}

#card-2 {
  background: var(--color-secondary-success);
}

#card-3 {
  background: var(--color-danger);
}

#card-4 {
  background: var(--color-warning);
}

#card-5 {
  background:var(--color-info);
}
a:hover{
  color:var(--color-info);
  background-color: var(--dark);
} */

body {
    /* line-height: 1.5; */
    font-size: var(--f-size-base);
    color: var(--light);
    overflow:hidden;
  }
  
  body  {
    background-image: url("/assests/graphics/bg/pari wallpaper-bg-1920x1080 bg.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
  }
  
  nav {
    position: relative;
    width: 100%;
    /* height: 4rem; */
    padding-left: var(--spacing-normal);
    padding-right: var(--spacing-normal);;
    background-image: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding-bottom:.5rem;
    /* overflow: hidden; */

  }


  nav img {
    height: 2.2rem;
    margin-top:1rem;
    margin-right: 1rem;
  }
  menu{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items:center;
    min-width: 0;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    margin-top:1rem;
    /* height: 4rem; */
  }



 
  a {
    border-style: solid;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    min-width: 0;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    font-size:var(--normal-text);
    font-weight: 300;
    color: var(--color-light);
    font-family: 'Over the Rainbow', cursive;
  }
  
  a:not(:first-child) {
    margin-left: 1.5rem;
  }
  
  a:hover {
    color: rgba(0, 0, 0, 0.7);
    text-decoration: none;
  }
  body[data-theme="light-mode"] a:hover{
    color:var(--white);
  }
  nav menu {
    float: right;
  }
  
  nav menu a {
    float: left;
  }
  
  nav menu a:last-child {
    padding-right: 0px;
  }
  
  button {
    position:relative;
    /* left:90%; */
    right:0%;
    height: 3.2rem;
    /* line-height: 3.2rem; */
    padding: 0 1.5rem;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    color:var(--light);
    background-color: var(--color-primary);
    background-image: none;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.4rem;
    -moz-box-shadow: 0 0.2rem 0 rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0 0.2rem 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 0.2rem 0 rgba(0, 0, 0, 0.05);
    margin-left:10px;
    float:right;
  }
  
  button:hover {
    text-decoration: none;
    background-color: var(--color-warning);
    background-image: none;
    border-color: rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0.2rem 0 rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0 0.2rem 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 0.2rem 0 rgba(0, 0, 0, 0.05);
  }
  
  button:focus {
    background-image: none;
    border-color: rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 0 0.2rem rgba(24, 144, 255, 0.6);
    -webkit-box-shadow: 0 0 0 0.2rem rgba(24, 144, 255, 0.6);
    box-shadow: 0 0 0 0.2rem rgba(24, 144, 255, 0.6);
    outline: 1px dotted transparent;
    outline-offset: 0.2rem;
  }
  
  button:active {
    background-image: none;
    border-color: rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 0 0.2rem rgba(24, 144, 255, 0.6);
    -webkit-box-shadow: 0 0 0 0.2rem rgba(24, 144, 255, 0.6);
    box-shadow: 0 0 0 0.2rem rgba(24, 144, 255, 0.6);
    outline: 1px dotted transparent;
    outline-offset: 0.2rem;
  }
  nav button{
    position: relative;
    right:0;
    height:40px;
    font-size: var(--small-text);
    display:inline-block;
    align-items: flex-end;
    margin-right:0;
    padding-top: 0;
    text-align:start;
  }
  aside#left {
    position:fixed;
    top: 4rem;
    bottom: 0;
    left: 0;
    width:250px;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 20;
    background-color:var(--color-warning);
    background-image: none;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  body[data-theme="light-mode"] aside#left{
    background-color:var(--color-primary);
  }
  aside ul li{
    display:block;
    margin: 0;
    color: rgba(0, 0, 0, 0.7);
    background-color: transparent;
    border: 0 solid transparent;
    border-radius: 0;
  }
  aside ul li a{
    margin:0;
    margin-left:1rem;
  }
  div[data-sidebar="hidden"]>aside{
  display:none;
  }
  #content{
    position: absolute;
    top: 4rem;
    bottom: 0;
    left: 250px;
    right: 0;
    width: fit-content;
    margin-right: auto;
    -webkit-box-flex: 0;
        -webkit-flex: 0 0 75%;
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        /* max-width: 100%; */
        max-height:100%;
  height: 100%;
  margin-top:.5rem;
  }
  div#sidebar{
    position:absolute;
      height: 100%;
      width: 100%;
      overflow:hidden;
  }
  #content{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 250px;
    right: 0;
    width: 81%;
    overflow-x:hidden;
    overflow-y: scroll;
    margin-left:0;
  }
  div[data-sidebar="hidden"] #content{
    left: 0;
    width:100%;
    max-width:100%;
    max-height: 100%;
  }
  p button{
    left:-10%;
    margin-bottom:1rem;
  }
  p{
    color:var(--white);
    font-size: var(--small-text);
    font-family: 'poiret one',cursive;
    margin:1rem;
  }
  body[data-theme="light-mode"] p{
    color:var(--dark);
  }
  aside ul h1{
    font-size:var(--normal-text);
    font-weight: bold;
    margin-left:1rem;
    margin-top:1rem;
  }
  #right{
    position:absolute;
    width:fit-content;
    display:flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top:1rem;
    left:80%;
    margin-right:0;
    margin-left:4rem;
    border-left:2px solid grey;
  }
  div[data-sidebar="hidden"] #right{
    left:80%;
    margin-left:7rem;
  }
  section h1{
    margin-top:0;
    font-weight: bold;
    font-size: var(--normal-text);
  }
  section{
    width: fit-content;
    height:fit-content; 
    /* margin: 0 auto; */
    /* padding-top:3rem; */
    align-content: center;
    padding-left: 1rem;
    -webkit-overflow-scrolling: touch;
    display:inline-block;
    /* margin-left:2rem; */
    -webkit-box-flex: 0;
        -webkit-flex: 0 0 75%;
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
  }
  h1 {
    font-family: 'Poiret One', cursive;
    font-size: var(--gigantic-text);
    font-size: 2em;
    margin: 0.67em 0;
    font-weight: 500;
    margin-top: 0;
    /* margin-left:1rem; */
  }
  /* ul h1{
    font-size: 2rem; 
    margin-top: 1rem;
  } */
  
  h2 {
    font-weight: 400;
    line-height: 1.35;
    font-family: 'poiret One', cursive;
    font-size: var(--gigantic-text);
    font-size: 2rem;
  }
  
  h3 {
    font-size:2rem;
    font-family: 'Poiret One', cursive;
  }
  li{
    color:var(--light);
    font-size: var(--normal-text);
  }
  body[data-theme="light-mode"] li{
    color:var(--dark);
  }
  li h3{
      font-size: var(--small-text);
      color:var(--light);
      margin-top:5px;
      margin-left:1rem;
  }
  body[data-theme="light-mode"] li h3{
    color:var(--dark);
  }
  #right li h3{
    font-size:var(--smallest-text);
  }
  #right li h3:hover{
    color:var(--black);
  }
  body[data-theme="light-mode"] #right li h3:hover{
    color:var(--light);
  }
  h4 {
    font-family: 'Hind', sans-serif;
    font-size: var(--large-text);
    font-style: bold;
    margin-top: 10rem;
    margin-bottom: 2rem;
    font-weight: 400;
    line-height: 1.45;
  }
  
  h5 {
    font-family: 'Hind', sans-serif;
    font-size: var(--normal-text);
    font-weight: 400;
    color: var(--dark);
  }
  h6 {
    font-family: 'Hind', sans-serif;
    font-size: var(--smallest-text);
    margin-bottom: 1.5rem;
    font-weight: 400;
    margin-right:1rem;
   
  }
  
  strong {
    font-weight: bolder;
  }
  hr {
   
    height: 1px;
    overflow: visible;
    background-color:var(--grey);
    margin-left:1rem;
    width:80%;
  }
  td,
  th {
  vertical-align: middle;
  padding: 1.2rem 0.4rem;
  }
  
  thead {
  border-bottom: 2px solid var(--color-lightGrey);
  }
  footer{
    position:relative;
    width: 100%;
    margin:0;
    background-color:var(--black);
    background-image: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    height: 6rem;
    border-bottom: none;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    /* margin-right: 0; */
  }
  body[data-theme="light-mode"] footer{
    background-color: var(--color-lightGrey);
  }
  footer *{
    align-content: right;
  }
  [data-attribute='align-right']{
    margin-top:0.2rem;
    
  text-align: right;
  margin-bottom: 0;
  /* padding:0.3rem; */
  }
  input {
  position: relative;
  }
  details ul,dd,dt,blockquote,code,details ol{
  color:var(--light);
  margin:1rem;
  padding:1rem;
  margin-left:13rem;
  }
  body[data-theme="light-mode"]  details ul,dd,dt,blockquote,code,details ol{
    color:var(--dark);
  }
  summary{
    /* background: var(--dark); */
    margin:1rem;
    margin-left:15rem;
    width:30%;
    color: rgba(255, 255, 255, 0.8);
    background-color: rgba(255, 255, 255, 0.02);
      border-color: #47494d;
      -moz-box-shadow: none;
      -webkit-box-shadow: none;
      box-shadow: none;
  }
  body[data-theme="light-mode"] summary{
    color:var(--dark);
  }
  summary:hover{
    background-color: var(--color-primary);
  }
  body[data-theme="light-mode"] summary:hover{
    background-color: var(--color-warning);
  }
  summary h1{
    /* text-align: center; */
    margin-left:0;
    font-size: var(--normal-text);
    padding-left:2rem;
  }
  h3:hover{
    color:var(--color-info);
  }
  
  [data-attribute="card"] {
  justify-content: space-between;
  margin: 20px;
  padding: 20px;
  width: 300px;
  height:100px;
  display: flex;
  border-radius: 10px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.2s;
  font-size: var(--small-text);
  color:var(--dark);
  margin-left:15rem;
  }
  body[data-theme="light-mode"] [data-attribute="card"]{
    color:var(--light);
  }
  
  
  #card-1 {
  background:var(--color-primary);
  }
  
  #card-2 {
  background: var(--color-secondary-success);
  }
  
  #card-3 {
  background: var(--color-danger);
  }
  
  #card-4 {
  background: var(--color-warning);
  }
  
  #card-5 {
  background:var(--color-info);
  }
  form{
    margin-left:15rem;
  }
  details p{
    margin-left:10rem;
  }
  @media only screen and (max-width: 450px) {
    label {
      padding: 5px 0px;
    }
    section{
      width:100%;
      margin-left: 0;
    }
    li{
      font-size:var(--small-text);
      padding:5px;
      list-style-type: style;
    }
    summary{
      font-size:var(--small-text);
    }
    [data-attribute="card"]{
      margin-left:-2rem;
      width:100%;
      min-height: 50px;
      font-size: var(--smallest-text);
      padding-top:20px;
      margin-top:1.2rem;
      left:5%;
      margin-right: auto;
    }
    details{
      width: 100%;
      margin-right: 10px;
      margin-left:0.5rem;
      /* padding: 2rem; */
        font-size: var(--normal-text);
        border-top: none;
        border-bottom-left-radius: 0.4rem;
        border-bottom-right-radius: 0.4rem;
        color: rgba(255, 255, 255, 0.8);
        background-color: transparent;
        border-color: #47494d;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    /* details section{
      margin-left:15rem;
    } */
    h2,dd,dt,blockquote{
      font-size: var(--small-text);
      margin-top:0px;
    }
    }
  
  #toggle-bar{
    position:absolute;
    top:10%;
    right:1rem;
    display:none;
    flex-direction:column;
    justify-content:space-between;
    width:30px;
    height:21px;
    content:'≡';
  }
  /* #toggle-bar span{
    height:3px;
    background-color:black;
    color:white;
  
  } */
  @media (max-width:700px){
    #toggle-bar{
      display:flex;
    }
    summary{
      margin-left:10rem;
    }
    nav{ 
      display: flex;flex-direction: column;
      align-items: flex-start;
      height:100%;
    }
    nav ul a{
      text-align: center;
      margin-top:.7rem;
      
    }
    #dropdown{
      display:none;
      flex-direction: column;
      position: absolute;
      left:80%;
      top:20%;
      
    }
    nav ul button{
      height:40px;
      font-size: var(--smallest-text);
      margin:.5rem;
      padding:.5rem;
      padding-top:0;
      left:0;
      top:0;
      position:relative;
      text-align: start;
    }
    nav img{
      margin-top:1rem;
    }
  }
  button{
    align-items: flex-end;
  }
  @media only screen and (max-width:1400px){
    #right{
      left:66%;
    }
    div[data-sidebar="hidden"] #right{
      left:66%;
    }
    div[data-sidebar="hidden"] hr{
      width:60%;
    }
  }
  @media only screen and (max-width:1150px){
    #right{
      display:none;
    }
    
    hr{
      width:50%;
    }
  }
  @media only screen and (max-width:450px){
    summary{
      margin-left:1rem;
      width:80%;
    }
  }
  /* #dropdown ul{
    display:none;
  } */

  nav ul {
    float: right;
  }
  
  nav ul li a {
    float: left;

  }
  
  nav ul a:last-child {
    padding-right: 0px;
  }
  nav ul{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items:center;
    min-width: 0;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    margin-top:1rem;
    /* height: 4rem; */
    margin-bottom:1rem;
  }

nav ul li {
  position:relative;
  margin:0 20px 0 0;
  float:left;
  display:inline-block;
}

li > a:after { content: ' »'; } /* Change this in order to change the Dropdown symbol */

li > a:only-child:after { content: ''; }
body[data-theme="light-mode"] nav ul li ul li a h3{
  color:var(--light);
}
nav ul li a {
  padding:5px;
  display:inline-block;
  color:white;
  text-decoration:none;
}
body[data-theme="light-mode"] nav ul li a{
  color:var(--dark);
}

nav ul li a:hover {
  opacity:0.5;
}

nav ul li ul {
  display:none;
  position:absolute;
  left:0;
  background:var(--dark);
  float:left;
  margin-top:2rem;
  z-index:1;
}

nav ul li ul li {
  width:100%;
  border-bottom:1px solid rgba(255,255,255,.3);
}

nav ul>li:hover ul {
  display:block;
}
nav ul li ul li a{
  border-style: hidden;
}
nav>a{
  display:none;
}

/*---light theme--*/


body[data-theme="light-mode"]{
  color: var(--dark);
}
body[data-theme="light-mode"] a{
  color:var(--dark);
}
body[data-theme="light-mode"] button{
  color:var(--dark);
  background-color: var(--color-warning);
}
body[data-theme="light-mode"] button:hover{
  background-color: var(--color-primary);
}