 
      
  /*
 back light : https://codepen.io/georgehastings/pen/xgwxgo
 pari logo : https://codepen.io/cssguy/pen/gcBFo
    * :hover{
        border-style: solid;
        border-color: white;
        border-width: thin;
         
  
  */  