/* typograph */

h1 {
  font-size: var(--heading-font-size-h1);
  margin-bottom: var(--heading-margin-bottom);
  font-weight: var(--heading-font-weight);
  color: var(--heading-color);
}

h2,
h3,
h4,
h5,
h6 {
  margin-bottom: var(--heading-margin-bottom);
  font-weight: var(--heading-font-weight);
  margin-top: var(--heading-margin-top);
  color: var(--heading-color);
}

h2 {
  font-size: var(--heading-font-size-h2);
}

h3 {
  font-size: var(--heading-font-size-h3);
}

h4 {
  font-size: var(--heading-font-size-h4);
}

h5 {
  font-size: var(--heading-font-size-h5);
}

h6 {
  font-size: var(--heading-font-size-h6);
}

/* Paragraph Specific */
/* p {
  font-size: var(--paragraph-font-size);
  margin-top: var(--paragraph-margin-top);
  margin-bottom: var(--paragraph-margin-bottom);
  color:var(--primary-color);
} */

/* Additional Styles */
hgroup > * {
  margin-top: 0;
  margin-bottom: 0;
}

/* CSS for text formatting */
strong,
b {
  font-weight: bold;
}
em,
i {
  font-style: italic;
}
u {
  text-decoration: underline;
}
del,
s,
strike {
  text-decoration: line-through;
}
sup {
  vertical-align: super;
  font-size: smaller;
}
sub {
  vertical-align: sub;
  font-size: smaller;
}
pre{
  background-color: #e7eaf0;
}
code,
kbd,
samp,
pre {
  border-radius: var(--code-border-radius, 0.25rem);
  line-height: var(--code-line-height, initial);
  font-family: var(--code-font-family, monospace);
  font-weight: var(--code-font-weight, bolder);
}


kbd {
  display: inline;
  padding: var(--kbd-padding, 0.375rem);
}

kbd {
  background-color: var(--kbd-background-color, #373c44);
  color: var(--kbd-color, #fff);
  vertical-align: baseline;
}
pre{overflow-x: scroll;}
code {
  overflow-x: scroll;
  color: var(--code-color, #646b79);
  font-weight: var(--code-font-weight, 400);
}
mark {
  padding: .125rem .25rem;
  background-color: var(--mark-background-color, yellow);
  color: var(--mark-color, black);
}
abbr,
acronym {
  border-bottom: var(--abbr-acronym-border-bottom, 1px dotted);
  cursor: var(--abbr-acronym-cursor, help);
}
cite {
  font-style: var(--cite-font-style, italic);
}

/* Quotation */
q {
  quotes: var(--quotation-open-quote, "\\201C")
    var(--quotation-close-quote, "\\201D")
    var(--quotation-single-open-quote, "\\2018")
    var(--quotation-single-close-quote, "\\2019");
}
q:before {
  content: var(--quotation-open-quote, "\\201C");
}
q:after {
  content: var(--quotation-close-quote, "\\201D");
}

/* Additional styling */
small {
  font-size: var(--small-font-size, smaller);
}
big {
  font-size: var(--big-font-size, larger);
}

/* Blockquote */
blockquote {
  display: block;
  margin: var(--blockquote-margin, 1rem auto);
  padding: var(--blockquote-padding, 1rem);
  border-right: none;
  border-left: var(--blockquote-border-left, 0.25rem solid #e7eaf0);
  border-inline-start: var(
    --blockquote-border-inline-start,
    0.25rem solid #e7eaf0
  );
  color: var(--text-color);
}
