/* Containers */
body > header,
body > main,
body > footer {
  width: 100%;
}

section {
  margin-bottom: 1rem;
}

hr {
  height: 0;
  margin: 1rem 0;
  border: 0;
  border-top: 1px solid #e7eaf0;
  color: inherit;
}

a {
  text-decoration: none;
  color: #0172ad;
}

ul {
  padding-left: var(--ul-padding-left);
}

/* nav ul{
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style:none;
} */
